{% extends 'base.html' %}
  {% block title %}
  Question #{{ qnum }}
  {% endblock %}

  {% block content %}

  <h1>{{ title }}</h1>
  <h4>{{ question.question }}</h4>
  <form action="/answer" method="POST">
    {% for choice in question.choices %}
      <p>
        <input type="radio" name="answer" value="{{ choice }}">{{ choice }}
      </p>
      {% endfor %}
      {% if question.allow_text %}
      <textarea name="text"></textarea>
      {% endif %}
    <button>NEXT</button>
  </form>
{% endblock %}}