body {
  width: 60%;
  margin: auto;
  background-color: blanchedalmond;
  /* below 660px and the cell sizes are impacted */
  min-width: 660px;
  padding: 50px;
}


/* game board table */

#board td {
  position: relative;
  width: 50px;
  height: 50px;
  border: solid 1px #666;
  background-color: white;
 
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  position: absolute;
  margin: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  animation-name: falling;
  animation-duration: 1s;
  /* if you don't specify bottom: 0px then the pieces will fall below the board */
  bottom: 0px;
}

/* Bottom works less well the higher the rows of piece
if there are 4 or 5 the value is calcuated relative to the placed piece 
and thus increases above the top of the board */
@keyframes falling {
  from {
    bottom: 200px;
  }
  to {
    bottom: 0px;
  }
}


.player1 {
  background-color: blue;
}

.player2 {
  background-color: red;
}

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px lightgray;
  border-radius: 50%;
}

/* #column-top td:hover {
  background-color: gold;
} */


