{% extends 'base.html' %}

{% block title %} BOGGLE {% endblock %}}

{% block content %}

    <div id="main">

        <section id="boggle">

            <table class="board">
                {% for row in board %} 
                    <tr>
                        {% for letter in row %}
                        <td>{{letter}}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>

        <form class="submit-word">
            <input name="submitted-word" class="word" type="text"/>
        <button>Add Word</button>
        </form>
        <hr>
        <p>Messages:</p>
        <p class="msg"></p>
        <hr>
        <h3 id="word-bank">Words you've found so far: </h3>

        <!-- JS to handle messages, words, scores -->

        <ul class="words">
            <!-- Add words with JS by appending LI to this class-->   
        </ul>

        </section>

    </div>

    <script src="http://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/static/app.js"></script>
    <script>
        let game = new Boggle("boggle");
    </script>

{% endblock %}

