body {
    padding: 50px;
    background-color: bisque;
}

#main {
    font-weight: bold;
}

#main > form > p {
    font-size: 20px;
}

footer {
    margin-top: 100px;
}

p {
    font-size: 25px;
    max-width: 50%;
}